//
// BASE STYLES
// ===========
// Like a reset, but not. Rather than including and ignoring, change the content
// of this file to suit your current project.
//
// Typographic styles should live in typography.styl
//


//
// SPACING
// Unset margins and padding, the reset for specific elements
//

html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td
  margin 0
  padding 0


//
// BASIC ELEMENTS
//

html, body
  height 100%

// body
//   background $base--body-bg


//
// LISTS
// Lists should be styled with bullets/numbers and margin by default.
//

li
  list-style-position outside
  margin-left 2em

  ul, ol
    margin-bottom 0

  ul &
    list-style-type disc

    li
      list-style-type circle

  ol &
    list-style-type decimal

    li
      list-style-type lower-roman


//
// MISC
//

hr
  display block
  height 1px
  width 100%
  border 0
  background-color grey

table
  width 100%
  border-collapse collapse
  mso-table-lspace 0pt //@stylint ignore
  mso-table-rspace 0pt //@stylint ignore

th
  font-weight normal

td, th
  vertical-align top
