//
// CONTAINER
// =========
//


.container
  width 100%
  height 100%
  // background $base--body-bg
  table-layout fixed

.container__inner
  // width $mq--desktop
  // min-width $mq--desktop // Forces gmail app to display like a desktop email
  margin 0 auto
  // background $base--content-bg
  text-align left

  // +width-max($mq--desktop - 1)
  //   width 100% !important //@stylint ignore
  //   min-width initial !important //@stylint ignore
