//
// TYPOGRAPHIC STYLES
// ==================
// Base typography styles
//
// Layout styles for typographic elements should live in base.styl
// Form and Table styles live in their respective stylesheets
//


//
// BASE STYLES
//

$default-font
  // font-size $base--font-size
  // font-family $base--font-body
  // line-height $base--line-height
  // color $base--font-color
  font-weight normal
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

// html, body, p, h1, h2, h3, h4, h5, h6, a
//   @extend $default-font


//
// LINKS & BUTTONS
//

// Set default link styles as a variable to allow `@extend` from `button.styl`
$default-link
  // color $color--primary
  text-decoration none

a
  @extend $default-link


//
// EMPHASIS
//

em, i
  // @extend $default-font
  font-style italic

strong, b
  // @extend $default-font
  font-weight bold