//
// BASE STYLES
// ===========
//


html, body, th, td
  margin 0
  padding 0

html, body
  height 100%

table
  width 100%
  border-collapse collapse
  mso-table-lspace 0pt //@stylint ignore
  mso-table-rspace 0pt //@stylint ignore

th
  font-weight normal

td, th
  vertical-align top
