//
// BASE STYLES
// ===========
//


html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td
  margin 0
  padding 0

html, body
  height 100%

li
  list-style-position outside
  margin-left 2em

  ul, ol
    margin-bottom 0

  ul &
    list-style-type disc

    li
      list-style-type circle

  ol &
    list-style-type decimal

    li
      list-style-type lower-roman

hr
  display block
  height 1px
  width 100%
  border 0
  background-color grey

table
  width 100%
  border-collapse collapse
  mso-table-lspace 0pt //@stylint ignore
  mso-table-rspace 0pt //@stylint ignore

th
  font-weight normal

td, th
  vertical-align top
